* {
  box-sizing: border-box;
}

#title{
background-color: rgb(5, 68, 52);
}

#mainForm{
 padding-bottom: 30%;
 margin-right:25%;
 margin-left:25%;
}

body{
  background-color:rgba(6, 2, 2, 0.895);
  color: rgba(238, 238, 238, 0.987);
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.column {
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  margin-left: 20%;
  margin-right: 2%;
}

.mid{
  margin-top: 1%;
  margin-left:40%;
  margin-right:30%;
}

.pizza-picture{
  float: left;
  object-fit: cover;
  margin-top: 1%;
  margin-left:12%;
  /* 282x 258 */
  padding-right: 282px;
  padding-bottom: 258px;
}

#pizza-chicken{
  background-image: url("imgs/chickenPizza.png");
}
#pizza-tomatoes{
  background-image: url("imgs/pizzaTomatoes.png");
}
#pizza-pepperoni{
  background-image: url("imgs/pepperoniPizza.png");
}